<a href="https://colab.research.google.com/github/canon14/ETL-Projects/blob/main/CS50P_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [152]:
# Look up dicts 

#Rain on/off (RD)
RD = {0:'off', 1:'on'}

#Surface State (ST)
ST = {
    0:'invalid',
    1:'unknown',
    2:'short',
    3:'slushy',
    4:'dry',
    5:'moist',
    6:'wet',
    7:'wet and treated',
    8:'frost',
    9:'snow',
    10:'ice',
    11:'trace of chemical',
    12:'alert',
    13:'critical',
    14:'absorption',
    15:'dew',
    16:'absorption at dewpoint',
    17:'frost at dewpoint',
    18:'probably drying',
    19:'dry surface below freezing',
    20:'wet or icy surface below freezing'
}

In [153]:
#import module to help parsing xml file
pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (0.13.0)

In [154]:
#import necessary libraries
import requests
import xmltodict
import numpy as np
import pandas as pd
import time

In [155]:
#expand dataframe to see all columns
pd.set_option ('display.max_columns', None)

In [156]:
#Initiate API call to request the XML data from Vaisala 
url = "https://exportdb.vaisala.io/export?username=vdot&password=Data4Virginia22&region=307"
response = requests.get(url)
data = xmltodict.parse(response.content)

In [157]:
#Get daily total data count
current_date_data_length = len(data['observation']['instance'])
# print(current_date_data_length)

In [158]:
# data

In [159]:
# df.columns

In [160]:
#Create 2 dataframes, df will get truncated in every iteration of the loop, while final_df will get appended by new row coming from df 
df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])
final_df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])

In [161]:
# start iteration from row 0 to end
for idx in range(0,current_date_data_length):
  if type(data['observation']['instance'][idx]['resultOf']['value']) is dict:
    
    df['datetime'] = [data['observation']['instance'][idx]['resultOf']['@timestamp']]
    df['station_id'] = [data['observation']['instance'][idx]['target']['id']]
  
  else:
    df['datetime'] = [data['observation']['instance'][idx]['resultOf']['@timestamp']]
    df['station_id'] = [data['observation']['instance'][idx]['target']['id']]

    for content in data['observation']['instance'][idx]['resultOf']['value']:
      if content['@code'] == 'CS' and content['@no'] == '3':
        df['cs3'] = int(float(content['#text']))
      if content['@code'] == 'CS' and content['@no'] == '4':
        df['cs4'] = int(float(content['#text']))
      if content['@code'] == 'RD' and content['@no'] == '1':
        df['rd1'] = RD[int(float(content['#text']))]
      if content['@code'] == 'RH' and content['@no'] == '1':
        df['rh1'] = int(float(content['#text']))  
      if content['@code'] == 'ST' and content['@no'] == '1':
        df['st1'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '2':
        df['st2'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '3':
        df['st3'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '4':
        df['st4'] = ST[int(float(content['#text']))]
      if content['@code'] == 'T' and content['@no'] == '1':
        df['t1'] = float(content['#text'])    
      if content['@code'] == 'TD' and content['@no'] == '1':
        df['td1'] = float(content['#text'])    
      if content['@code'] == 'TF' and content['@no'] == '3':
        df['tf3'] = int(float(content['#text'])) 
      if content['@code'] == 'TF' and content['@no'] == '4':
        df['tf4'] = int(float(content['#text'])) 
      if content['@code'] == 'TG' and content['@no'] == '3':
        df['tg3'] = float(content['#text'])
      if content['@code'] == 'TG' and content['@no'] == '4':
        df['tg4'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '1':
        df['ts1'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '2':
        df['ts2'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '3':
        df['ts3'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '4':
        df['ts4'] = float(content['#text'])
      if content['@code'] == 'WD' and content['@no'] == '1':
        df['wd1'] = float(content['#text'])
      if content['@code'] == 'WDM' and content['@no'] == '1':
        df['wdm1'] = float(content['#text'])
      if content['@code'] == 'WS' and content['@no'] == '1':
        df['ws1'] = float(content['#text'])
      if content['@code'] == 'WSM' and content['@no'] == '1':
        df['wsm1'] = float(content['#text'])
  
  #Concat to append final_df with the new created df
  final_df = pd.concat([final_df,df], ignore_index=True)
  #Drop and recreate df from blank
  df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])

In [162]:
final_df

,datetime,station_id,cs3,cs4,rd1,rh1,st1,st2,st3,st4,t1,td1,tf3,tf4,tg3,tg4,ts1,ts2,ts3,ts4,wd1,wdm1,ws1,wsm1
0,2022-10-07 17:20:00,3585,NaN,NaN,NaN,37,dry,NaN,NaN,NaN,21.6,6.3,NaN,NaN,NaN,NaN,29.6,NaN,NaN,NaN,244.0,288.0,3.0,6.7
1,2022-10-07 17:20:00,13314,NaN,NaN,off,48,dry,NaN,NaN,NaN,25.1,13.4,NaN,NaN,NaN,NaN,28.8,NaN,NaN,NaN,297.0,270.0,1.0,3.5
2,2022-10-07 17:20:00,3587,NaN,NaN,off,39,dry,NaN,NaN,NaN,20.9,6.4,NaN,NaN,NaN,NaN,26.9,NaN,NaN,NaN,304.0,68.0,0.2,4.9
3,2022-10-07 17:23:00,3329,NaN,NaN,off,32,dry,NaN,NaN,NaN,26.8,8.6,NaN,NaN,NaN,NaN,32.3,NaN,NaN,NaN,192.0,195.0,1.4,2.7
4,2022-10-07 17:25:00,12297,2,NaN,off,30,moist,moist,moist,NaN,27.5,8.3,0,NaN,28.1,NaN,40.2,37.2,37.9,NaN,315.0,82.0,0.9,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,2022-10-07 17:15:00,12238,NaN,NaN,NaN,73,moist,NaN,NaN,NaN,20.6,15.6,NaN,NaN,NaN,NaN,25.6,NaN,NaN,NaN,307.0,309.0,2.1,2.6
163,2022-10-07 17:15:00,12757,NaN,NaN,off,29,dry,NaN,NaN,NaN,26.2,6.5,NaN,NaN,NaN,NaN,30.9,NaN,NaN,NaN,159.0,215.0,1.3,3.4
164,2022-10-07 17:20:00,3558,NaN,NaN,NaN,33,NaN,NaN,NaN,NaN,22.8,5.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248.0,309.0,2.4,5.1
165,2022-10-07 17:20:00,7143,NaN,NaN,NaN,37,dry,NaN,NaN,NaN,25.6,10.0,NaN,NaN,NaN,NaN,30.5,NaN,NaN,NaN,240.0,30.0,0.0,0.7
166,2022-10-07 17:20:00,3572,NaN,NaN,NaN,42,dry,NaN,NaN,NaN,21.5,8.0,NaN,NaN,NaN,NaN,29.9,NaN,NaN,NaN,21.0,106.0,0.0,0.0

In [163]:
# to help compare data in final result against the source
# data['observation']['instance'][0]

In [164]:
final_df.to_csv('test_result.csv')