<a href="https://colab.research.google.com/github/canon14/ETL-Projects/blob/main/CS50P_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
# Look up dicts 

#Rain on/off (RD)
RD = {0:'off', 1:'on'}

#Surface State (ST)
ST = {
    0:'invalid',
    1:'unknown',
    2:'short',
    3:'slushy',
    4:'dry',
    5:'moist',
    6:'wet',
    7:'wet and treated',
    8:'frost',
    9:'snow',
    10:'ice',
    11:'trace of chemical',
    12:'alert',
    13:'critical',
    14:'absorption',
    15:'dew',
    16:'absorption at dewpoint',
    17:'frost at dewpoint',
    18:'probably drying',
    19:'dry surface below freezing',
    20:'wet or icy surface below freezing'
}

In [2]:
pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [74]:
import requests
import xmltodict
import numpy as np
import pandas as pd
import time

In [18]:
pd.set_option ('display.max_columns', None)

In [4]:
url = "https://exportdb.vaisala.io/export?username=vdot&password=Data4Virginia22&region=307"
response = requests.get(url)
data = xmltodict.parse(response.content)

In [51]:
current_date_data_length = len(data['observation']['instance'])
# print(current_date_data_length)

167

In [ ]:
# data

In [ ]:
# df.columns

In [149]:
df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])
final_df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])

In [150]:
for idx in range(0,current_date_data_length):
  if type(data['observation']['instance'][idx]['resultOf']['value']) is dict:
    
    df['datetime'] = [data['observation']['instance'][idx]['resultOf']['@timestamp']]
    df['station_id'] = [data['observation']['instance'][idx]['target']['id']]
  
  else:
    df['datetime'] = [data['observation']['instance'][idx]['resultOf']['@timestamp']]
    df['station_id'] = [data['observation']['instance'][idx]['target']['id']]

    for content in data['observation']['instance'][idx]['resultOf']['value']:
      if content['@code'] == 'CS' and content['@no'] == '3':
        df['cs3'] = int(float(content['#text']))
      if content['@code'] == 'CS' and content['@no'] == '4':
        df['cs4'] = int(float(content['#text']))
      if content['@code'] == 'RD' and content['@no'] == '1':
        df['rd1'] = RD[int(float(content['#text']))]
      if content['@code'] == 'RH' and content['@no'] == '1':
        df['rh1'] = int(float(content['#text']))  
      if content['@code'] == 'ST' and content['@no'] == '1':
        df['st1'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '2':
        df['st2'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '3':
        df['st3'] = ST[int(float(content['#text']))]
      if content['@code'] == 'ST' and content['@no'] == '4':
        df['st4'] = ST[int(float(content['#text']))]
      if content['@code'] == 'T' and content['@no'] == '1':
        df['t1'] = float(content['#text'])    
      if content['@code'] == 'TD' and content['@no'] == '1':
        df['td1'] = float(content['#text'])    
      if content['@code'] == 'TF' and content['@no'] == '3':
        df['tf3'] = int(float(content['#text'])) 
      if content['@code'] == 'TF' and content['@no'] == '4':
        df['tf4'] = int(float(content['#text'])) 
      if content['@code'] == 'TG' and content['@no'] == '3':
        df['tg3'] = float(content['#text'])
      if content['@code'] == 'TG' and content['@no'] == '4':
        df['tg4'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '1':
        df['ts1'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '2':
        df['ts2'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '3':
        df['ts3'] = float(content['#text'])
      if content['@code'] == 'TS' and content['@no'] == '4':
        df['ts4'] = float(content['#text'])
      if content['@code'] == 'WD' and content['@no'] == '1':
        df['wd1'] = float(content['#text'])
      if content['@code'] == 'WDM' and content['@no'] == '1':
        df['wdm1'] = float(content['#text'])
      if content['@code'] == 'WS' and content['@no'] == '1':
        df['ws1'] = float(content['#text'])
      if content['@code'] == 'WSM' and content['@no'] == '1':
        df['wsm1'] = float(content['#text'])
  
  final_df = pd.concat([final_df,df], ignore_index=True)
  df = pd.DataFrame(columns = ['datetime', 'station_id','cs3', 'cs4', 'rd1', 'rh1', 'st1', 'st2', 'st3', 'st4', 't1', 'td1', 'tf3', 'tf4', 'tg3', 'tg4', 'ts1', 'ts2', 'ts3', 'ts4', 'wd1', 'wdm1', 'ws1', 'wsm1'])

In [151]:
final_df

,datetime,station_id,cs3,cs4,rd1,rh1,st1,st2,st3,st4,t1,td1,tf3,tf4,tg3,tg4,ts1,ts2,ts3,ts4,wd1,wdm1,ws1,wsm1
0,2022-10-07 13:10:00,3585,NaN,NaN,NaN,85,dry,NaN,NaN,NaN,9.8,7.4,NaN,NaN,NaN,NaN,13.3,NaN,NaN,NaN,289.0,76.0,0.0,0.0
1,2022-10-07 13:10:00,13314,NaN,NaN,off,76,dry,NaN,NaN,NaN,18.5,14.1,NaN,NaN,NaN,NaN,12.4,NaN,NaN,NaN,288.0,264.0,0.6,2.9
2,2022-10-07 13:10:00,3587,NaN,NaN,off,78,dry,NaN,NaN,NaN,11.1,7.3,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,247.0,257.0,0.0,0.0
3,2022-10-07 13:13:00,3329,NaN,NaN,off,66,dry,NaN,NaN,NaN,17.6,11.2,NaN,NaN,NaN,NaN,15.4,NaN,NaN,NaN,192.0,213.0,1.0,1.9
4,2022-10-07 13:15:00,12297,1,NaN,off,69,moist,moist,moist,NaN,17.6,11.9,0,NaN,17.8,NaN,21.5,18.2,21.2,NaN,209.0,343.0,0.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,2022-10-07 13:15:00,12238,NaN,NaN,NaN,84,moist,NaN,NaN,NaN,16.4,13.6,NaN,NaN,NaN,NaN,17.7,NaN,NaN,NaN,230.0,234.0,3.9,4.7
163,2022-10-07 13:15:00,12757,NaN,NaN,off,100,dry,NaN,NaN,NaN,7.5,7.5,NaN,NaN,NaN,NaN,10.1,NaN,NaN,NaN,32.0,90.0,0.0,0.0
164,2022-10-07 13:10:00,3558,NaN,NaN,NaN,95,NaN,NaN,NaN,NaN,8.2,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239.0,295.0,0.0,0.0
165,2022-10-07 13:00:00,7143,NaN,NaN,NaN,78,dry,NaN,NaN,NaN,15.7,11.9,NaN,NaN,NaN,NaN,15.9,NaN,NaN,NaN,117.0,263.0,0.2,0.8
166,2022-10-07 13:10:00,3572,NaN,NaN,NaN,100,dry,NaN,NaN,NaN,11.2,11.2,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,184.0,267.0,0.0,0.0

In [ ]:
# to help compare data in final result against the source
# data['observation']['instance'][0]

In [143]:
# final_df.to_csv('test.csv')